{% extends "auctions/base.html" %}

{% block body %}
    <div class="grid">
        {% for listing in listings %}
            <a href="{% url 'listing_profile' listing.id %}">
                <div class="item">
                    <h6>
                        <div class="item-name">
                                {{listing.name}}
                        </div>
                    </h6>
                    <div class="item-des">
                        {{listing.description}}
                    </div>
                    <div class="price">
                        Price: ${{listing.current_price}}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}