{% extends "auctions/base.html" %}

{% block body %}
    {%if has_content%}
    <div class="jumbotron" >
        <h4><strong>Listing:</strong> {{product.name}}</h4><br>
        <strong>Description: </strong>{{product.description}}<br>
        <strong>Starting Price: </strong>${{ product.starting_price}}<br>
        <strong>Current Price: </strong>${{ product.current_price}}<br>
        <strong>Current Auction Winner: </strong>{{ product.user_won}}<br> 
                
                
        {% if user.is_authenticated %}
            {%if isMine%}
                {%if isActive%}
                    <form action="{% url 'close' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden"  name="product_id" value={{product.id}}>
                        <br>
                        <div class="button-box">
                        <input class="button" type="submit" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" value="Close Listing">            
                        </div>
                    </form>
                {% else %}
                    <br>
                    <div class="closed-red">
                        Closed 
                    </div>
                            
                {% endif %}
            {%else%}
                {% if isActive %}
                    <form action="{% url 'place_bid' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-dark">
                        <br>
                        <div class="user-box1">
                            {{bidform}}
                            <label >Place a Bid</label>
                        </div>
                                    
                        {%if bid_isvalid %}
                        {%else%}
                            <h3>Bid should be greater than or equal to current price</h3>
                        {% endif %}
                            </div>
                            <div class="button-box">
                                <input class="button" type="submit" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" value="Place Bid">            
                            </div>
                    </form>
                {%else%}
                    {% if  isWinner %}
                    <h3>Congratulations {{WinnerName.username}}! You won this auction!</h3>
                    {% else %}
                    <br>
                    This auction is closed
                    {% endif %}
                {% endif %}
            {%endif%}
        {% endif %}
    </div>
</div>
<br>
<br>
        
</div>
{%else%}
<h2>{{texts}}</h2>
{% endif %}
{% endblock %}